.teams-containter {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem;
  justify-content: center;
  gap: 3rem;
}
.hero-containter-img {
  width: 10rem;
  height: 100%;
  aspect-ratio: 1 / 1;
}
